---
import { SiteHeader } from "../components/SiteHeader.tsx";
import { SiteFooter } from "../components/SiteFooter.tsx";

import "./style.css";

const title = "Osaka Kyoto Web Designers and Developers Meetup";
const description =
  "OWDDM and KWDDM are volunteer non-profit groups that organizes Meetups in Kansai. We try to have 1 meetup per month and Region with one or two presenters talking about a topic related to either making things in the Web. Occasionally we hold other events such as Hanami’s, hikes and other get-togethers.";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="name" content="Osaka Kyoto Web Designers and Developers Meetup" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <div id="outside">
      <div class="container">
        <SiteHeader url={Astro.url} client:load />
        <main><slot /></main>
        <SiteFooter />
      </div>
    </div>
  </body>
</html>
